.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/wqqqqwqqqqqqqqqqqqq1.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-video-1 {
  height: 426px;
  width: 757px;
  margin: 110px 165px 60px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-video-1 {
    height: 504px;
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-video-1 {
    height: 426px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .embed-responsive-1 {
    width: 223%;
    height: 100%;
    left: -61%;
    top: 0%;
  }
}